
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

            <h2 class="mt-5">Sistem Presensi Pegawai</h2>
			<form method="post" action="{{ url_for('tasks') }}">
				<input type="submit" value="Presensi Ulang" name="presensi-ulang" />
			</form>
			<h3 style="font-family:courier; text-decoration: underline;">Presensi Berhasil!</h3>
			<h3 style="font-family:courier;">Data Pegawai:</h3>
			<ol style="font-family:courier;">
				<li>Id Pegawai: {{id_pegawai}}</li>
				<li>Nama Pegawai: {{nama_pegawai}}</li>
				<li>Tanggal Presensi: {{tanggal_presensi}}</li>
				<li>Waktu Presensi: {{waktu_presensi}}</li>
				<li>Bukti Foto: </li>
			</ol>	
            <img src="/static/{{data}}" height="80%">
			
        </div>
    </div>
</div>
</body>
